/* Base.scss */
@import "variaveis.scss";

*{
	box-sizing: border-box;
}

.container{
	max-width: 100%;
	margin: 0 auto;
}

.item{
	height: 100px;
	background-color: yellow;
	border: 10px solid blue;
}

/*
	Grid - unidade/total*100 porcento.
*/

.col {
	min-height: 1px;
	float: left;
	padding: 0 $var-calha;
}

[class*="col-"]{
			width: 100%;
}

@media (min-width: 600px){
	.col-1{
		width: 8.333%;
	}
	.col-2{
		width: 16.666%;
	}
	.col-3{
		width: 25%;
	}
	.col-4{
		width: 33.333%;
	}
	.col-5{
		width: 41.666%;
	}
	.col-6{
		width: 50%;
	}
	.col-7{
		width: 58.333%;
	}
	.col-8{
		width: 66.666%;
	}
	.col-9{
		width: 75%;
	}
	.col-10{
		width: 83.333%;
	}
	.col-11{
		width: 91.666% 
	}
	.col-12{
		width: 100%;
	}
}

@media (min-width: 768px){
	.col-m-1{
		width: 8.333%;
	}
	.col-m-2{
		width: 16.666%;
	}
	.col-m-3{
		width: 25%;
	}
	.col-m-4{
		width: 33.333%;
	}
	.col-m-5{
		width: 41.666%;
	}
	.col-m-6{
		width: 50%;
	}
	.col-m-7{
		width: 58.333%;
	}
	.col-m-8{
		width: 66.666%;
	}
	.col-m-9{
		width: 75%;
	}
	.col-m-10{
		width: 83.333%;
	}
	.col-m-11{
		width: 91.666% 
	}
	.col-m-12{
		width: 100%;
	}
}

@media (min-width: 1200px){
	.col-l-1{
		width: 8.333%;
	}
	.col-l-2{
		width: 16.666%;
	}
	.col-l-3{
		width: 25%;
	}
	.col-l-4{
		width: 33.333%;
	}
	.col-l-5{
		width: 41.666%;
	}
	.col-l-6{
		width: 50%;
	}
	.col-l-7{
		width: 58.333%;
	}
	.col-l-8{
		width: 66.666%;
	}
	.col-l-9{
		width: 75%;
	}
	.col-l-10{
		width: 83.333%;
	}
	.col-l-11{
		width: 91.666% 
	}
	.col-l-12{
		width: 100%;
	}
}
